@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/slick';

@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
button {
    &:focus {
        outline: none;
    }
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/with-prengi';
@import 'blocks/solution';
@import 'blocks/title';
@import 'blocks/advantages';
@import 'blocks/options';

@import 'base/media';