.advantages {
    padding: 81px 0 80px 0;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 44px;
    }
    &__items {
        position: relative;
        width: 570px;
        img {
            width: 100%;
        }
    }
    &__descr {
        position: absolute;
        width: 570px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        color: #ffffff;
        font-size: 23px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
    }
}